html{
    font-size: 16px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #444444;
}

h2,h3,h4,h5,h6{
    font-family: 'Roboto';
    font-weight: 500;
    color: #222222;
}
h1{
    text-align: center;
    color: indigo;
    font-size: 2.5rem;
    font-family: 'Roboto';
    font-weight: 600;
    color: #222222;
}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}

#banner {
    width: 100%;
    object-fit: cover;
}

#about{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}
#description{
    width: 50%;
    padding-right: 8px;
    font-size: 1.25rem;
}
#team{
    width: 50%;
}
#navbar{
    padding: 8px;
    margin: 0px;
}
#logo{
    height: 30px;
}
#team-image{
    border-radius: 5px;
    width: 100%;
}
h2{
    text-align: center;
}
#jobs{
    max-width: 800px;
    margin: 0 8px;
    padding: 0 8px;
}
h3{
    margin-bottom: 4px;
    margin-top: 0;
}
.apply{
    float: right;
}
a{
    text-decoration: none;
    color: #3B82F6;
}

a:hover, a:focus{
    color: #114328;
}
#footer-link{
    list-style: none;
}
#footer{
    background-color: #FAFAFA;
    text-align: center;
    padding: 8px;
    margin-top: 32px;
}
#courses{
    background-color: ghostwhite;
}
.copyright{
    color: #71717A;
    font-size: 0.875rem;
}
#footer-link li{
    display: inline;
    margin: 0 16px;
}
.jobs-table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}
.jobs-table th{
    border: 1px solid gray;
    padding: 8px;
    background-color: #BFDBFE;
    text-align: center;
    color: #222222;
}
.jobs-table td{
    border-right: 1px solid gray;
    padding: 8px;

}
.jobs-table tr:nth-child(odd){
background-color: #EFF6FF;
}

#application{
max-width: 800px;
margin: 0 auto;
padding: 0 8px;
}
.form-group{
    margin: 16px 0;
} 

.form-group input, textarea, select{
    font-size: 1.25rem;
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 4px;
    padding: 8px;
    min-width: 360px;
}

.form-group textarea{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.form-group input[type="checkbox"]{
    width: 16px;
    height: 16px;
    min-width: 0;
}

#application-form label{
    font-weight: bold;
}

#application-form input[type="submit"]{
    background-color: #2563EB;
    /* width: 120px; */
    min-width: 0;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}
